.DS_Store
.vscode

# Python bytecode files
*.pyc

# Python egg files
/cslvae.egg-info/

# Dataset files
*.tsv
*.csv

# Analysis Jupyter notebooks and checkpoints
/notebooks/*/
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*


